html,
body {
  background-color: #FFFFFF;
}

.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

h1 {
  color: #EE1AAB;
}

.carousel-caption {
  background-color: rgba(73,29,13,0.3);
  /* color: #FE9A76; */
  left: 0;
  width: 100%;
}

.addDonutToCart {
  border-radius: 50%;
  background-color: #F38088;
  color: white;
  padding: 0.7em;
}

.addDonutToCart:hover {
  background-color: #EE1AAB;
  transition: ease 0.5s;
}

.cartLink {
  text-decoration: none;
}

.card {
  margin: 0 !important;
  width: 100% !important;
}

.card:hover {
  background-color: #FCDFEB;
  transition: ease 0.5s;
}


/*
valkoinen: #FFFFFF off-white: #FCDFEB
korostuspinkki: #EE1AAB
perusvaaleanpunainen: #F38088
secondarydonitsiväri: #FE9A76
tumma: #491D0D
*/