html,
body {
  background-color: #FFFFFF;
}

.App {
  text-align: center;
}

h1 {
  color: #EE1AAB;
}

/* .banner {
  background-color: #FE9A76;
} */

.donut {
  max-width: 35%;
  height: 300px;
  background-color: #F38088;
  margin: auto;
  border: 5px solid white;
}

.donut:hover {
  background-color: #EE1AAB;
}

/*
valkoinen: #FFFFFF off-white: #FCDFEB
korostuspinkki: #EE1AAB
perusvaaleanpunainen: #F38088
secondarydonitsiväri: #FE9A76
tumma: #491D0D
*/