/* .header {
    background-color: #FCDFEB;
    text-align: center;
    margin-bottom: 1em;
} */

.navbar {
    background-color: #FCDFEB;
}

.navbar a {
    color: #491D0D;
}

.navbarContent {
    text-align: center;
    width: 100%;
    margin: auto;
    max-width: 1440px;
}

.linkit {
    width: 100%;
    max-width: 1440px;
}

.footer {
    position: relative;
    margin-top: 200px;
    background-color: #491D0D;
    width: 100%;
    height: 70px;
    color: #FE9A76;
    text-align: center;
    clear: both;
    padding-top: 20px;
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(214, 26, 70, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.searchForm {
    width: 30%;
    align-self: center;
}

.searchButton {
    border: solid 1px #D61A46;
    color: #D61A46;
}

.searchText {
    border-color: #D61A46;
    min-width: 100px;
}

.dropTausta {
    background-color: #fdcee280;
}

.dropText:hover {
    background-color: #FCDFEB;
}

#navbarNavDropdown {
    justify-content: space-evenly;
    width: 100%;
    
}
.nav-item {
    margin: auto;
}

.cartIcon {
    
    /* text-align: end; */
    /* display: flex; */
    justify-content: flex-end;
    /* float: right; */
    margin-left: 2em;
    padding: 1em;
    

}

#cart {
    background-color: #FE9A76;
    padding: 10px;
    border-radius: 10px;
}

#cart:hover {
    background-color: #EE1AAB;
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.indicator {
    background-color: #FCDFEB;
    /* border-radius: 10px; */
}

/*
valkoinen: #FFFFFF off-white: #FCDFEB
korostuspinkki: #EE1AAB
perusvaaleanpunainen: #F38088
secondarydonitsiväri: #FE9A76
tumma: #491D0D
*/