/* .header {
    background-color: #FCDFEB;
    text-align: center;
    margin-bottom: 1em;
} */

.navbar {
    background-color: #FCDFEB;
}

.navbar a {
    color: #491D0D;
}

.navbarContent {
    text-align: center;
    width: 80%;
    margin: auto;
    max-width: 1440px;
}

.footer {
    position: relative;
    margin-top: 200px;
    background-color: #491D0D;
    width: 100%;
    height: 70px;
    color: #FE9A76;
    text-align: center;
    clear: both;
    padding-top: 20px;
    
}

/*
valkoinen: #FFFFFF off-white: #FCDFEB
korostuspinkki: #EE1AAB
perusvaaleanpunainen: #F38088
secondarydonitsiväri: #FE9A76
tumma: #491D0D
*/